@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-family: "Nunito Sans", sans-serif;

  *:focus {
    outline: 0;
  }
}

body {
  background-color: #f6f8fc;
  height: 100vh;
}
.help-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
  h3 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #202842;
    margin-bottom: 52px;
  }
  .inner {
    width: 558px;
  }
  form {
    position: relative;
    margin-bottom: 66px;
    .icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 68px;
      height: 63px;
      display: grid;
      place-items: center;
    }
    input {
      background-color: #fff;
      border-radius: 10px;
      height: 63px;
      width: 100%;
      box-shadow: 0 9px 10px -4px rgba(#c9d6ef, 0.46);
      font-size: 16px;
      color: #202842;
      /* caret-color: red; */
      padding: 0 20px 0 68px;
      &::placeholder {
        color: #828d97;
      }
    }
  }
  .dropdown-container {
    margin-bottom: 70px;
    li {
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }

      label {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 51px;
        padding-top: 5px;
        font-size: 18px;
        color: #202842;
        border-bottom: 2px solid #dee4f1;
        cursor: pointer;
        img {
          transition: 300ms all;
        }
      }
      .dropdown-content {
        display: none;
        padding: 15px 0;
        font-size: 18px;
        line-height: 1.5;
        color: rgba(#202842, 0.6);
      }
      input {
        display: none;
        &:checked + label {
          img {
            transform: rotate(180deg);
          }
          & + .dropdown-content {
            display: block;
          }
        }
      }
    }
  }
  .help-articles {
    width: 838px;
    ul {
      display: flex;
      margin: 0 calc(-35px / 2);
      li {
        margin: 0 calc(35px / 2);
        a {
          display: block;
          box-shadow: 0 9px 10px -4px rgba(#c9d6ef, 0.46);
          border-radius: 10px;
          background: #fff;
          transition: 300ms all;
          img {
            width: 100%;
            border-radius: 10px 10px 0 0;
            display: block;
            height: 128px;
          }
          .title {
            display: block;
            padding: 15px;
            text-align: center;
            font-size: 14px;
            color: #202842;
            object-fit: cover;
          }
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
